{% liquid
  assign variants_json = product.variants | json
%}

<section 
  id="product-main{{ product.id }}" 
  class="
    product-main
    {{ section.settings.bg_color }} 
    {{ section.settings.text_color }} 
    {{ section.settings.border_top_width | prepend: 'border-top-' }}
    {{ section.settings.border_bottom_width | prepend: 'border-bottom-' }}
    {{ section.settings.border_color }} 
    {{ section.settings.pt | prepend: 'pt-0 pt-sm-6 pt-md-' }}
    {{ section.settings.pb | prepend: 'pb-' }}
  "
  style="
    --bs-bg-opacity: {{ section.settings.bg_opacity | append: '%' }};
    --bs-border-opacity: {{ section.settings.border_opacity | append: '%' }};
    background-image: linear-gradient({{ section.settings.bg_gradient_direction | append: 'deg' }}, rgba(var(--text-color-rgb), {{ section.settings.bg_gradient_opacity | append: '%'}}), rgba(var(--text-color-rgb), 0));
  ">
  <div 
    class="container" 
    style="{{ section.settings.container_max_width | prepend: 'max-width: ' | append: 'px;' }}">
    <div class="row">
      <div class="col-lg-18 {% if section.settings.extra_show_recently_viewed %}col-xl-15{% endif %}">
        <div 
          class="product-contents position-relative"
          data-quick-view-contents
          data-recently-viewed-set
          data-product-url="{{ product.url }}">
          <a class="visually-hidden-focusable" href="#product-inner-{{ product.id }}">
            {{ 'general.accessibility.skip_product_content' | t }}
          </a>      
          <div class="row">
            <div class="col-lg-9 mb-5 mb-lg-0">
              {% render 'product-block-media-gallery' %}
            </div>
            <div class="col-lg-9">
              <div id="product-inner-{{ product.id }}">
                <product-form>
                  {% form 'product', product, data-productid: product.id, data-product-url: product.url, data-variants: variants_json %}
                    <input type="hidden" name="id" data-productid="{{ product.id }}" value="{{ product.selected_or_first_available_variant.id }}">
                    {% liquid
                      for block in section.blocks
                        case block.type
                          when 'title'
                            render 'product-block-title', block: block
                          when 'price'
                            render 'product-block-price', block: block, form: form
                          when 'options'
                            render 'product-block-options', block: block, form: form
                          when 'atc_button'
                            render 'product-block-atc-button', block: block, form: form
                          when 'richtext'
                            render 'product-block-richtext', block: block
                          when 'collapse'
                            render 'product-block-collapse', block: block
                          when 'liquid'
                            render 'product-block-liquid', block: block
                          when 'trust_icons'
                            render 'product-block-trust-icons', block: block
                          when 'breadcrumb'
                            render 'product-block-breadcrumb', block: block
                          when 'separator'
                            render 'product-block-separator', block: block
                          when 'stock_indicator'
                            render 'product-block-stock-indicator', block: block
                          when 'quantity_breaks'
                            render 'product-block-quantity-breaks', block: block
                          when 'cross_sells'
                            render 'product-block-cross-sells', block: block
                          when 'personalization_field'
                            render 'product-block-personalization-field', block: block
                          when 'prev_next'
                            render 'product-block-prev-next', block: block
                          when '@app'
                            render block
                        endcase
                      endfor
                    %}
                  {% endform %}
                </product-form>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% if section.settings.extra_show_recently_viewed or section.settings.extra_show_upsells %}
        <div class="col-18 col-xl-3 d-none d-xl-block">
          {% render 'product-main-extra' %}
        </div>
      {% endif %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Product main",
  "settings": [
    {
      "type": "header",
      "content": "Styling"
    },
    {
      "type": "select",
      "id": "bg_color",
      "label": "Background color",
      "default": "bg-body",
      "options": [
        { "group": "Theme", "value": "bg-primary",  "label": "Primary" },
        { "group": "Theme", "value": "bg-secondary", "label": "Secondary" },
        { "group": "Theme", "value": "bg-tertiary", "label": "Tertiary" },
        { "group": "Theme", "value": "bg-body", "label": "Body" },
        { "group": "Theme", "value": "bg-white", "label": "White" },
        { "group": "Alert", "value": "bg-success",  "label": "Success" },
        { "group": "Alert", "value": "bg-warning", "label": "Warning" },
        { "group": "Alert", "value": "bg-danger", "label": "Danger" },
        { "group": "Alert", "value": "bg-info",  "label": "Info" }
      ]
    },
    {
      "type": "range",
      "id": "bg_opacity",
      "label": "Background opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 100,
      "unit": "%"
    },
    {
      "type": "range",
      "id": "bg_gradient_opacity",
      "label": "Background gradient opacity",
      "min": 0,
      "max": 100,
      "step": 5,
      "default": 0,
      "unit": "%"
    },
    {
      "type": "range",
      "id": "bg_gradient_direction",
      "label": "Background gradient direction",
      "min": 0,
      "max": 360,
      "step": 15,
      "default": 180,
      "unit": "deg"
    },
    {
      "type": "select",
      "id": "text_color",
      "label": "Text color",
      "default": "text-body",
      "options": [
        { "group": "Theme", "value": "text-primary",  "label": "Primary" },
        { "group": "Theme", "value": "text-secondary", "label": "Secondary" },
        { "group": "Theme", "value": "text-tertiary", "label": "Tertiary" },
        { "group": "Theme", "value": "text-body", "label": "Body" },
        { "group": "Theme", "value": "text-white", "label": "White" },
        { "group": "Alert", "value": "text-success",  "label": "Success" },
        { "group": "Alert", "value": "text-warning", "label": "Warning" },
        { "group": "Alert", "value": "text-danger", "label": "Danger" },
        { "group": "Alert", "value": "text-info",  "label": "Info" }
      ]
    },
    {
      "type": "range",
      "id": "border_top_width",
      "label": "Border top width",
      "default": 0,
      "min": 0,
      "max": 16,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "border_bottom_width",
      "label": "Border bottom width",
      "default": 0,
      "min": 0,
      "max": 16,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "select",
      "id": "border_color",
      "label": "Border color",
      "default": "border-primary",
      "options": [
        { "group": "Theme", "value": "border-primary",  "label": "Primary" },
        { "group": "Theme", "value": "border-secondary", "label": "Secondary" },
        { "group": "Theme", "value": "border-tertiary", "label": "Tertiary" },
        { "group": "Theme", "value": "border-body", "label": "Body" },
        { "group": "Theme", "value": "border-white", "label": "White" },
        { "group": "Alert", "value": "border-success",  "label": "Success" },
        { "group": "Alert", "value": "border-warning", "label": "Warning" },
        { "group": "Alert", "value": "border-danger", "label": "Danger" },
        { "group": "Alert", "value": "border-info",  "label": "Info" }
      ]
    },
    {
      "type": "range",
      "id": "border_opacity",
      "label": "Border opacity",
      "min": 0,
      "max": 100,
      "step": 5,
      "default": 100,
      "unit": "%"
    },
    {
      "type": "text",
      "id": "container_max_width",
      "label": "Container max-width (px)",
      "info": "Leave empty to use the global container width"
    },
    {
      "type": "header",
      "content": "Extra content",
      "info": "NOTE: It will show only on large screens"
    },
    {
      "type": "checkbox",
      "id": "extra_show_recently_viewed",
      "label": "Show \"Recently viewed\"",
      "default": true 
    },
    {
      "type": "checkbox",
      "id": "extra_show_upsells",
      "label": "Show \"Cart Upsells\"",
      "default": true 
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "pt",
      "label": "Top",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 10
    },
    {
      "type": "range",
      "id": "pb",
      "label": "Bottom",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 10
    }
  ],
  "blocks": [
    {
      "type": "media_gallery",
      "name": "Media gallery",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "img_ratio",
          "label": "Image ratio",
          "default": "ratio-1x1",
          "options": [
            { "group": "Adapt", "value": "adapt", "label": "Adapt" },
            { "group": "Square", "value": "ratio-1x1", "label": "1x1" },
            { "group": "Horizontal", "value": "ratio-4x3", "label": "4x3" },
            { "group": "Horizontal", "value": "ratio-16x9", "label": "16x9" },
            { "group": "Horizontal", "value": "ratio-21x9", "label": "21x9" },
            { "group": "Vertical", "value": "ratio-3x4", "label": "3x4" },
            { "group": "Vertical", "value": "ratio-9x16", "label": "9x16" },
            { "group": "Vertical", "value": "ratio-9x21", "label": "9x21" }
          ]
        },
        {
          "type": "select",
          "id": "img_border",
          "label": "Image border",
          "default": "img-thumbnail",
          "options": [
            { "value": "", "label": "None" },
            { "value": "rounded", "label": "Rounded" },
            { "value": "img-thumbnail", "label": "Thumbnail" }
          ]
        },
        {
          "type": "select",
          "id": "effect",
          "label": "Effect",
          "default": "slide", 
          "options": [
            { "value": "slide", "label": "Slide" },
            { "value": "fade", "label": "Fade" },
            { "value": "cube", "label": "Cube" },
            { "value": "coverflow", "label": "Coverflow" },
            { "value": "flip", "label": "Flip" },
            { "value": "creative", "label": "Creative" }
          ]
        },
        {
          "type": "range",
          "id": "speed",
          "label": "Speed",
          "default": 300,
          "min": 0,
          "max": 2000,
          "step": 100,
          "unit": "ms"
        },
        {
          "type": "select",
          "id": "controls_color", 
          "label": "Controls color",
          "options": [
            { "value": "primary", "label": "Primary" },
            { "value": "secondary", "label": "Secondary" },
            { "value": "tertiary", "label": "Tertiary" },
            { "value": "body-color", "label": "Body" },
            { "value": "white", "label": "White" }
          ],
          "default": "white"
        },
        {
          "type": "select",
          "id": "pagination_type",
          "label": "Pagination type",
          "default": "fraction", 
          "options": [
            { "value": "bullets", "label": "Bullets" },
            { "value": "fraction", "label": "Fraction" }
          ]
        },
        {
          "type": "checkbox",
          "id": "scrollbar",
          "label": "Show scrollbar",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "partial_slides_mobile",
          "label": "Partial slides on mobile",
          "default": true
        },
        {
          "type": "select",
          "id": "show_thumbs",
          "label": "Show thumbnails",
          "default": "show",
          "options": [
            { "value": "hide", "label": "Hide" },
            { "value": "show", "label": "Show" },
            { "value": "desktop-only", "label": "Desktop-only" }
          ]
        },
        {
          "type": "range",
          "id": "thumbs_per_view",
          "label": "Thumbnails per view",
          "default": 5,
          "min": 2,
          "max": 8
        },
        {
          "type": "checkbox",
          "id": "full_screen",
          "label": "Enable full-screen gallery",
          "default": true
        },
        {
          "type": "select",
          "id": "full_screen_effect",
          "label": "Full screen - Effect",
          "default": "zoom",
          "options": [
            { "value": "slide", "label": "Slide" },
            { "value": "fade", "label": "Fade" },
            { "value": "zoom", "label": "Zoom" }
          ]
        },
        {
          "type": "checkbox",
          "id": "show_wishlist",
          "label": "Show wishlist button",
          "default": true
        }
      ]
    },
    {
      "type": "title",
      "name": "Title",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "title_font_size",
          "label": "Title font-size",
          "default": "h2",
          "options": [
            { "value": "h1", "label": "H1" },
            { "value": "h2", "label": "H2" },
            { "value": "h3", "label": "H3" },
            { "value": "h4", "label": "H4" },
            { "value": "h5", "label": "H5" },
            { "value": "h6", "label": "H6" }
          ]
        },
        {
          "type": "checkbox",
          "id": "share",
          "label": "Show share button",
          "default": true
        },
        {
          "type": "select",
          "id": "share_btn_color",
          "label": "Share - button color",
          "default": "btn-light-primary",
          "options": [
            { "group": "Solid", "value": "btn-primary", "label": "Primary" },
            { "group": "Solid", "value": "btn-secondary", "label": "Secondary" },
            { "group": "Solid", "value": "btn-tertiary", "label": "Tertiary" },
            { "group": "Solid", "value": "btn-white", "label": "White" },
            { "group": "Light", "value": "btn-light-primary", "label": "Primary" },
            { "group": "Light", "value": "btn-light-secondary", "label": "Secondary" },
            { "group": "Light", "value": "btn-light-tertiary", "label": "Tertiary" },
            { "group": "Light", "value": "btn-light-white", "label": "White" },
            { "group": "Outline", "value": "btn-outline-primary", "label": "Primary" },
            { "group": "Outline", "value": "btn-outline-secondary", "label": "Secondary" },
            { "group": "Outline", "value": "btn-outline-tertiary", "label": "Tertiary" },
            { "group": "Outline", "value": "btn-outline-white", "label": "White" },
            { "group": "Alert", "value": "btn-success", "label": "Success" },
            { "group": "Alert", "value": "btn-warning", "label": "Warning" },
            { "group": "Alert", "value": "btn-danger", "label": "Danger" },
            { "group": "Alert", "value": "btn-info", "label": "Info" }
          ]
        },
        {
          "type": "header",
          "content": "Spacing"
        },
        {
          "type": "range",
          "id": "pt",
          "label": "Top",
          "min": 0,
          "max": 20,
          "step": 1,
          "default": 3
        },
        {
          "type": "range",
          "id": "pb",
          "label": "Bottom",
          "min": 0,
          "max": 20,
          "step": 1,
          "default": 3
        }
      ]
    },
    {
      "type": "price",
      "name": "Price",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "font_size",
          "label": "Font-size",
          "default": "fs-lg",
          "options": [
            { "value": "fs-sm", "label": "sm" },
            { "value": "fs-md", "label": "md" },
            { "value": "fs-lg", "label": "lg" },
            { "value": "fs-xl", "label": "xl" },
            { "value": "fs-xxl", "label": "xxl" }
          ]
        },
        {
          "type": "select",
          "id": "badge_discount_type",
          "label": "Sale badge discount type",
          "default": "percentage",
          "options": [
            { "value": "percentage", "label": "Percentage" },
            { "value": "value", "label": "Value" }
          ]
        },
        {
          "type": "header",
          "content": "Spacing"
        },
        {
          "type": "range",
          "id": "pt",
          "label": "Top",
          "min": 0,
          "max": 20,
          "step": 1,
          "default": 3
        },
        {
          "type": "range",
          "id": "pb",
          "label": "Bottom",
          "min": 0,
          "max": 20,
          "step": 1,
          "default": 3
        }
      ]
    },
    {
      "type": "options",
      "name": "Options",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "options_style",
          "label": "Options style",
          "options": [
            { "value": "buttons", "label": "Buttons" },
            { "value": "select",  "label": "Select" }
          ],
          "default": "buttons"
        },
        {
          "type": "text",
          "id": "color_swatches",
          "label": "Color swatches",
          "default": "Color, color",
          "info": "Comma separated list of product option names to show as color swatches. Leave empty to disable"
        },
        {
          "type": "header",
          "content": "Spacing"
        },
        {
          "type": "range",
          "id": "pt",
          "label": "Top",
          "min": 0,
          "max": 20,
          "step": 1,
          "default": 4
        },
        {
          "type": "range",
          "id": "pb",
          "label": "Bottom",
          "min": 0,
          "max": 20,
          "step": 1,
          "default": 4
        }
      ]
    },
    {
      "type": "atc_button",
      "name": "Add to cart button",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_qty_field",
          "label": "Show quantity field",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_dynamic_buttons",
          "label": "Show dynamic buttons",
          "default": false
        },
        {
          "type": "header",
          "content": "\"Add to cart\" button"
        },
        {
          "type": "select",
          "id": "atc_btn_color",
          "label": "Button color",
          "default": "btn-primary",
          "options": [
            { "group": "Solid", "value": "btn-primary", "label": "Primary" },
            { "group": "Solid", "value": "btn-secondary", "label": "Secondary" },
            { "group": "Solid", "value": "btn-tertiary", "label": "Tertiary" },
            { "group": "Solid", "value": "btn-white", "label": "White" },
            { "group": "Light", "value": "btn-light-primary", "label": "Primary" },
            { "group": "Light", "value": "btn-light-secondary", "label": "Secondary" },
            { "group": "Light", "value": "btn-light-tertiary", "label": "Tertiary" },
            { "group": "Light", "value": "btn-light-white", "label": "White" },
            { "group": "Outline", "value": "btn-outline-primary", "label": "Primary" },
            { "group": "Outline", "value": "btn-outline-secondary", "label": "Secondary" },
            { "group": "Outline", "value": "btn-outline-tertiary", "label": "Tertiary" },
            { "group": "Outline", "value": "btn-outline-white", "label": "White" },
            { "group": "Alert", "value": "btn-success", "label": "Success" },
            { "group": "Alert", "value": "btn-warning", "label": "Warning" },
            { "group": "Alert", "value": "btn-danger", "label": "Danger" },
            { "group": "Alert", "value": "btn-info", "label": "Info" }
          ]
        },
        {
          "type": "select",
          "id": "atc_btn_size",
          "label": "Button size",
          "default": "",
          "options": [
            { "value": "btn-sm", "label": "Small" },
            { "value": "", "label": "Medium" },
            { "value": "btn-lg", "label": "Large" }
          ]
        },
        {
          "type": "header",
          "content": "\"Buy it now\" button"
        },
        {
          "type": "checkbox",
          "id": "show_buy_btn",
          "label": "Show button",
          "default": true
        },
        {
          "type": "select",
          "id": "buy_btn_color",
          "label": "Button color",
          "default": "btn-secondary",
          "options": [
            { "group": "Solid", "value": "btn-primary", "label": "Primary" },
            { "group": "Solid", "value": "btn-secondary", "label": "Secondary" },
            { "group": "Solid", "value": "btn-tertiary", "label": "Tertiary" },
            { "group": "Solid", "value": "btn-white", "label": "White" },
            { "group": "Light", "value": "btn-light-primary", "label": "Primary" },
            { "group": "Light", "value": "btn-light-secondary", "label": "Secondary" },
            { "group": "Light", "value": "btn-light-tertiary", "label": "Tertiary" },
            { "group": "Light", "value": "btn-light-white", "label": "White" },
            { "group": "Outline", "value": "btn-outline-primary", "label": "Primary" },
            { "group": "Outline", "value": "btn-outline-secondary", "label": "Secondary" },
            { "group": "Outline", "value": "btn-outline-tertiary", "label": "Tertiary" },
            { "group": "Outline", "value": "btn-outline-white", "label": "White" },
            { "group": "Alert", "value": "btn-success", "label": "Success" },
            { "group": "Alert", "value": "btn-warning", "label": "Warning" },
            { "group": "Alert", "value": "btn-danger", "label": "Danger" },
            { "group": "Alert", "value": "btn-info", "label": "Info" }
          ]
        },
        {
          "type": "select",
          "id": "buy_btn_size",
          "label": "Button size",
          "default": "",
          "options": [
            { "value": "btn-sm", "label": "Small" },
            { "value": "", "label": "Medium" },
            { "value": "btn-lg", "label": "Large" }
          ]
        },
        {
          "type": "header",
          "content": "Spacing"
        },
        {
          "type": "range",
          "id": "pt",
          "label": "Top",
          "min": 0,
          "max": 20,
          "step": 1,
          "default": 2
        },
        {
          "type": "range",
          "id": "pb",
          "label": "Bottom",
          "min": 0,
          "max": 20,
          "step": 1,
          "default": 5
        }
      ]
    },
    {
      "type": "richtext",
      "name": "Richtext",
      "settings": [
        {
          "type": "select",
          "id": "text_align",
          "label": "Text align",
          "default": "text-start",
          "options": [
            { "value": "text-start", "label": "Left" },
            { "value": "text-center", "label": "Center" },
            { "value": "text-end", "label": "Right" }
          ]
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Richtext Title"
        },
        {
          "type": "select",
          "id": "title_font_size",
          "label": "Title font-size",
          "default": "fs-lg",
          "options": [
            { "value": "fs-sm", "label": "sm" },
            { "value": "fs-md", "label": "md" },
            { "value": "fs-lg", "label": "lg" },
            { "value": "fs-xl", "label": "xl" },
            { "value": "fs-xxl", "label": "xxl" }
          ]
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description",
          "default": "<p>Richtext description goes here</p>"
        },
        {
          "type": "select",
          "id": "description_font_size",
          "label": "Description font-size",
          "default": "fs-md",
          "options": [
            { "value": "fs-sm", "label": "sm" },
            { "value": "fs-md", "label": "md" },
            { "value": "fs-lg", "label": "lg" },
            { "value": "fs-xl", "label": "xl" },
            { "value": "fs-xxl", "label": "xxl" }
          ]
        },
        {
          "type": "checkbox",
          "id": "product_description",
          "label": "Product description",
          "info": "Show the actual product description",
          "default": false
        },
        {
          "type": "html",
          "id": "description_classes",
          "label": "Description classes",
          "info": "A space-separated list of classes to apply (E.g. opacity-70 text-primary small)"
        },

        {
          "type": "header",
          "content": "Spacing"
        },
        {
          "type": "range",
          "id": "pt",
          "label": "Top",
          "min": 0,
          "max": 20,
          "step": 1,
          "default": 0
        },
        {
          "type": "range",
          "id": "pb",
          "label": "Bottom",
          "min": 0,
          "max": 20,
          "step": 1,
          "default": 0
        }
      ]
    },
    {
      "type": "collapse",
      "name": "Collapse",
      "settings": [
        {
          "type": "header",
          "content": "Title"
        },
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "range",
          "id": "icon_size",
          "label": "Icon size",
          "default": 20,
          "min": 8,
          "max": 32,
          "unit": "px"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Collapse Title"
        },
        {
          "type": "select",
          "id": "title_font_family",
          "label": "Title font-family",
          "default": "",
          "options": [
              { "value": "", "label": "Body" },
              { "value": "heading", "label": "Heading" }
          ]
        },
        {
          "type": "select",
          "id": "title_font_size",
          "label": "Title font-size",
          "default": "fs-md",
          "options": [
            { "value": "fs-xs", "label": "xs" },
            { "value": "fs-sm", "label": "sm" },
            { "value": "fs-md", "label": "md" },
            { "value": "fs-lg", "label": "lg" },
            { "value": "fs-xl", "label": "xl" }
          ]
        },
        {
          "type": "select",
          "id": "title_text_transform",
          "label": "Title text-transform",
          "default": "text-capitalize",
          "options": [
              { "value": "", "label": "Normal" },
              { "value": "text-capitalize", "label": "Capitalize" },
              { "value": "text-lowercase", "label": "Lowercase" },
              { "value": "text-uppercase", "label": "Uppercase" }
    
          ]
        },
        {
          "type": "range",
          "id": "title_letter_spacing",
          "label": "Title letter-spacing",
          "default": 0,
          "min": 0,
          "max": 5
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "checkbox",
          "id": "open_by_default",
          "label": "Open by default",
          "default": false
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description",
          "default": "<p>Collapse description goes here</p>"
        },
        {
          "type": "select",
          "id": "description_font_size",
          "label": "Description font-size",
          "default": "fs-md",
          "options": [
            { "value": "fs-xs", "label": "xs" },
            { "value": "fs-sm", "label": "sm" },
            { "value": "fs-md", "label": "md" },
            { "value": "fs-lg", "label": "lg" },
            { "value": "fs-xl", "label": "xl" }
          ]
        },
        {
          "type": "checkbox",
          "id": "product_description",
          "label": "Product description",
          "info": "Show the actual product description in the collapse",
          "default": false
        },
        {
          "type": "text",
          "id": "btn_primary_text",
          "label": "Button text",
          "info": "Leave empty to disable"
        },
        {
          "type": "url",
          "id": "btn_primary_url", 
          "label": "Button URL"
        },
        {
          "type": "select",
          "id": "btn_primary_color",
          "label": "Button color",
          "default": "btn-primary",
          "options": [
            { "group": "Solid", "value": "btn-primary", "label": "Primary" },
            { "group": "Solid", "value": "btn-secondary", "label": "Secondary" },
            { "group": "Solid", "value": "btn-tertiary", "label": "Tertiary" },
            { "group": "Solid", "value": "btn-white", "label": "White" },
            { "group": "Light", "value": "btn-light-primary", "label": "Primary" },
            { "group": "Light", "value": "btn-light-secondary", "label": "Secondary" },
            { "group": "Light", "value": "btn-light-tertiary", "label": "Tertiary" },
            { "group": "Light", "value": "btn-light-white", "label": "White" },
            { "group": "Outline", "value": "btn-outline-primary", "label": "Primary" },
            { "group": "Outline", "value": "btn-outline-secondary", "label": "Secondary" },
            { "group": "Outline", "value": "btn-outline-tertiary", "label": "Tertiary" },
            { "group": "Outline", "value": "btn-outline-white", "label": "White" },
            { "group": "Alert", "value": "btn-success", "label": "Success" },
            { "group": "Alert", "value": "btn-warning", "label": "Warning" },
            { "group": "Alert", "value": "btn-danger", "label": "Danger" },
            { "group": "Alert", "value": "btn-info", "label": "Info" }
          ]
        },
        {
          "type": "header",
          "content": "Spacing"
        },
        {
          "type": "range",
          "id": "pt",
          "label": "Top",
          "min": 0,
          "max": 20,
          "step": 1,
          "default": 0
        },
        {
          "type": "range",
          "id": "pb",
          "label": "Bottom",
          "min": 0,
          "max": 20,
          "step": 1,
          "default": 0
        }
      ]
    },
    {
      "type": "liquid",
      "name": "Liquid code",
      "settings": [
        {
          "type": "liquid",
          "id": "liquid",
          "label": "HTML code",
          "default": "<p class=\"bg-primary text-white rounded p-5\">Today's date: <b>{{ 'now' | date: \"%b %d, %Y\" }}</b></p>",
          "info": "Note: You may use both HTML and Liquid codes."
        },
        {
          "type": "header",
          "content": "Spacing"
        },
        {
          "type": "range",
          "id": "pt",
          "label": "Top",
          "min": 0,
          "max": 20,
          "step": 1,
          "default": 3
        },
        {
          "type": "range",
          "id": "pb",
          "label": "Bottom",
          "min": 0,
          "max": 20,
          "step": 1,
          "default": 3
        }
      ]
    },
    {
      "type": "trust_icons",
      "name": "Trust icons",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "NOTE: You may download svg icons from libraries like [Bootstrap Icons](https://icons.getbootstrap.com) and upload them below as images"
        },
        {
          "type": "header",
          "content": "General"
        },
        {
          "type": "text",
          "id": "label",
          "label": "Label",
          "default": "What we promise",
          "info": "Used for accessibility purposes"
        },
        {
          "type": "text",
          "id": "max_width",
          "label": "Max-width (px)",
          "default": "400"
        },
        {
          "type": "range",
          "id": "img_size",
          "label": "Image (icon) size",
          "default": 24,
          "min": 16,
          "max": 64,
          "unit": "px"
        },
        {
          "type": "header",
          "content": "item 1"
        },
        {
          "type": "image_picker",
          "id": "img_1",
          "label": "Image 1"
        },
        {
          "type": "richtext",
          "id": "text_1",
          "label": "Text 1"
        },
        {
          "type": "header",
          "content": "item 2"
        },
        {
          "type": "image_picker",
          "id": "img_2",
          "label": "Image 2"
        },
        {
          "type": "richtext",
          "id": "text_2",
          "label": "Text 2"
        },
        {
          "type": "header",
          "content": "item 3"
        },
        {
          "type": "image_picker",
          "id": "img_3",
          "label": "Image 3"
        },
        {
          "type": "richtext",
          "id": "text_3",
          "label": "Text 3"
        },
        {
          "type": "header",
          "content": "item 4"
        },
        {
          "type": "image_picker",
          "id": "img_4",
          "label": "Image 4"
        },
        {
          "type": "richtext",
          "id": "text_4",
          "label": "Text 4"
        },
        {
          "type": "header",
          "content": "Spacing"
        },
        {
          "type": "range",
          "id": "pt",
          "label": "Top",
          "min": 0,
          "max": 20,
          "step": 1,
          "default": 3
        },
        {
          "type": "range",
          "id": "pb",
          "label": "Bottom",
          "min": 0,
          "max": 20,
          "step": 1,
          "default": 3
        }
      ]
    },
    {
      "type": "breadcrumb",
      "name": "Breadcrumb",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Spacing"
        },
        {
          "type": "range",
          "id": "pt",
          "label": "Top",
          "min": 0,
          "max": 20,
          "step": 1,
          "default": 0
        },
        {
          "type": "range",
          "id": "pb",
          "label": "Bottom",
          "min": 0,
          "max": 20,
          "step": 1,
          "default": 0
        }
      ]
    },
    {
      "type": "separator",
      "name": "Separator",
      "settings": [
        {
          "type": "select",
          "id": "bg_color",
          "label": "Background color",
          "default": "bg-primary",
          "options": [
            { "group": "Theme", "value": "bg-primary",  "label": "Primary" },
            { "group": "Theme", "value": "bg-secondary", "label": "Secondary" },
            { "group": "Theme", "value": "bg-tertiary", "label": "Tertiary" },
            { "group": "Theme", "value": "bg-body", "label": "Body" },
            { "group": "Theme", "value": "bg-white", "label": "White" },
            { "group": "Alert", "value": "bg-success",  "label": "Success" },
            { "group": "Alert", "value": "bg-warning", "label": "Warning" },
            { "group": "Alert", "value": "bg-danger", "label": "Danger" },
            { "group": "Alert", "value": "bg-info",  "label": "Info" }
          ]
        },
        {
          "type": "range",
          "id": "bg_opacity",
          "label": "Background opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 10,
          "unit": "%"
        },
        {
          "type": "range",
          "id": "height",
          "label": "Height",
          "min": 0,
          "max": 16,
          "default": 1,
          "step": 1,
          "unit": "px"
        },
        {
          "type": "header",
          "content": "Spacing"
        },
        {
          "type": "range",
          "id": "pt",
          "label": "Top",
          "min": 0,
          "max": 20,
          "step": 1,
          "default": 0
        },
        {
          "type": "range",
          "id": "pb",
          "label": "Bottom",
          "min": 0,
          "max": 20,
          "step": 1,
          "default": 0
        }
      ]
    },
    {
      "type": "stock_indicator",
      "name": "Stock indicator",
      "limit": 1,
      "settings": [
        {
          "type": "range",
          "id": "low_stock_threshold",
          "label": "Low stock - threshold",
          "default": 10,
          "min": 2,
          "max": 100
        },
        {
          "type": "select",
          "id": "low_stock_bg_color",
          "label": "Low stock - bg color",
          "default": "bg-warning",
          "options": [
            { "group": "Theme", "value": "bg-primary",  "label": "Primary" },
            { "group": "Theme", "value": "bg-secondary", "label": "Secondary" },
            { "group": "Theme", "value": "bg-body", "label": "Body" },
            { "group": "Alert", "value": "bg-success",  "label": "Success" },
            { "group": "Alert", "value": "bg-warning", "label": "Warning" },
            { "group": "Alert", "value": "bg-danger", "label": "Danger" },
            { "group": "Alert", "value": "bg-info",  "label": "Info" }
          ]
        },
        {
          "type": "select",
          "id": "has_stock_bg_color",
          "label": "Has stock - bg color",
          "default": "bg-success",
          "options": [
            { "group": "Theme", "value": "bg-primary",  "label": "Primary" },
            { "group": "Theme", "value": "bg-secondary", "label": "Secondary" },
            { "group": "Theme", "value": "bg-body", "label": "Body" },
            { "group": "Alert", "value": "bg-success",  "label": "Success" },
            { "group": "Alert", "value": "bg-warning", "label": "Warning" },
            { "group": "Alert", "value": "bg-danger", "label": "Danger" },
            { "group": "Alert", "value": "bg-info",  "label": "Info" }
          ]
        },
        {
          "type": "range",
          "id": "progress_height",
          "label": "Progress height",
          "min": 1,
          "max": 24,
          "step": 1,
          "default": 8,
          "unit": "px"
        },
        {
          "type": "header",
          "content": "Spacing"
        },
        {
          "type": "range",
          "id": "pt",
          "label": "Top",
          "min": 0,
          "max": 20,
          "step": 1,
          "default": 0
        },
        {
          "type": "range",
          "id": "pb",
          "label": "Bottom",
          "min": 0,
          "max": 20,
          "step": 1,
          "default": 0
        }
      ]
    },
    {
      "type": "quantity_breaks",
      "name": "Quantity breaks",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "metafield",
          "label": "Metafield namespace\/key",
          "default": "custom.qty_breaks",
          "info": "[Create the above metafield](https:\/\/shopify.com\/admin\/metafields\/product\/create) with the type of \"Single Line Text (List)\" and then add the quantity breaks in the format \"quantity:discount\" E.g \"5:20\" where 5 is the quantity and 20 is the discount the user will get if buying 5 items."
        },
        {
          "type": "select",
          "id": "cols_desktop",
          "label": "Columns (desktop)",
          "default": "2",
          "options": [
            { "value": "1", "label": "1" },
            { "value": "2", "label": "2" }
          ]
        },
        {
          "type": "header",
          "content": "Header"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Buy more, save more!"
        },
        {
          "type": "select",
          "id": "title_font_size",
          "label": "Title font-size",
          "default": "fs-lg",
          "options": [
            { "value": "fs-sm", "label": "sm" },
            { "value": "fs-md", "label": "md" },
            { "value": "fs-lg", "label": "lg" },
            { "value": "fs-xl", "label": "xl" },
            { "value": "fs-xxl", "label": "xxl" }
          ]
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description",
          "default": "<p>Save up to 50% with bundled option</p>"
        },
        {
          "type": "select",
          "id": "description_font_size",
          "label": "Description font-size",
          "default": "fs-sm",
          "options": [
            { "value": "fs-sm", "label": "sm" },
            { "value": "fs-md", "label": "md" },
            { "value": "fs-lg", "label": "lg" },
            { "value": "fs-xl", "label": "xl" },
            { "value": "fs-xxl", "label": "xxl" }
          ]
        },
        {
          "type": "header",
          "content": "Spacing"
        },
        {
          "type": "range",
          "id": "pt",
          "label": "Top",
          "min": 0,
          "max": 20,
          "step": 1,
          "default": 0
        },
        {
          "type": "range",
          "id": "pb",
          "label": "Bottom",
          "min": 0,
          "max": 20,
          "step": 1,
          "default": 0
        }
      ]
    },
    {
      "type": "cross_sells",
      "name": "Cross sells",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "metafield",
          "label": "Metafield namespace\/key",
          "default": "custom.cross_sells",
          "info": "[Create the above metafield](https:\/\/shopify.com\/admin\/metafields\/product\/create) with the type of \"Product (List)\" and then add the products you want to cross-sell."
        },
        {
          "type": "header",
          "content": "Styling"
        },
        {
          "type": "select",
          "id": "bg_color",
          "label": "Background color",
          "default": "bg-body",
          "options": [
            { "group": "Theme", "value": "bg-primary",  "label": "Primary" },
            { "group": "Theme", "value": "bg-secondary", "label": "Secondary" },
            { "group": "Theme", "value": "bg-tertiary", "label": "Tertiary" },
            { "group": "Theme", "value": "bg-body", "label": "Body" },
            { "group": "Theme", "value": "bg-white", "label": "White" },
            { "group": "Alert", "value": "bg-success",  "label": "Success" },
            { "group": "Alert", "value": "bg-warning", "label": "Warning" },
            { "group": "Alert", "value": "bg-danger", "label": "Danger" },
            { "group": "Alert", "value": "bg-info",  "label": "Info" }
          ]
        },
        {
          "type": "range",
          "id": "bg_opacity",
          "label": "Background opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 100,
          "unit": "%"
        },
        {
          "type": "select",
          "id": "text_color",
          "label": "Text color",
          "default": "text-body",
          "options": [
            { "group": "Theme", "value": "text-primary",  "label": "Primary" },
            { "group": "Theme", "value": "text-secondary", "label": "Secondary" },
            { "group": "Theme", "value": "text-tertiary", "label": "Tertiary" },
            { "group": "Theme", "value": "text-body", "label": "Body" },
            { "group": "Theme", "value": "text-white", "label": "White" },
            { "group": "Alert", "value": "text-success",  "label": "Success" },
            { "group": "Alert", "value": "text-warning", "label": "Warning" },
            { "group": "Alert", "value": "text-danger", "label": "Danger" },
            { "group": "Alert", "value": "text-info",  "label": "Info" }
          ]
        },
        {
          "type": "range",
          "id": "border_width",
          "label": "Border width",
          "default": 0,
          "min": 0,
          "max": 16,
          "step": 1,
          "unit": "px"
        },
        {
          "type": "select",
          "id": "border_color",
          "label": "Border color",
          "default": "border-primary",
          "options": [
            { "group": "Theme", "value": "border-primary",  "label": "Primary" },
            { "group": "Theme", "value": "border-secondary", "label": "Secondary" },
            { "group": "Theme", "value": "border-tertiary", "label": "Tertiary" },
            { "group": "Theme", "value": "border-body", "label": "Body" },
            { "group": "Theme", "value": "border-white", "label": "White" },
            { "group": "Alert", "value": "border-success",  "label": "Success" },
            { "group": "Alert", "value": "border-warning", "label": "Warning" },
            { "group": "Alert", "value": "border-danger", "label": "Danger" },
            { "group": "Alert", "value": "border-info",  "label": "Info" }
          ]
        },
        {
          "type": "range",
          "id": "border_opacity",
          "label": "Border opacity",
          "min": 0,
          "max": 100,
          "step": 5,
          "default": 100,
          "unit": "%"
        },
        {
          "type": "header",
          "content": "Header"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Frequently Bought Together"
        },
        {
          "type": "select",
          "id": "title_font_size",
          "label": "Title font-size",
          "default": "fs-lg",
          "options": [
            { "value": "fs-sm", "label": "sm" },
            { "value": "fs-md", "label": "md" },
            { "value": "fs-lg", "label": "lg" },
            { "value": "fs-xl", "label": "xl" },
            { "value": "fs-xxl", "label": "xxl" }
          ]
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description",
          "default": "<p>Save up to 50% with one click!</p>"
        },
        {
          "type": "select",
          "id": "description_font_size",
          "label": "Description font-size",
          "default": "fs-sm",
          "options": [
            { "value": "fs-sm", "label": "sm" },
            { "value": "fs-md", "label": "md" },
            { "value": "fs-lg", "label": "lg" },
            { "value": "fs-xl", "label": "xl" },
            { "value": "fs-xxl", "label": "xxl" }
          ]
        },
        {
          "type": "header",
          "content": "Product item"
        },
        {
          "type": "select",
          "id": "item_title_font_size",
          "label": "Font-size",
          "default": "fs-md",
          "options": [
            { "value": "fs-sm", "label": "sm" },
            { "value": "fs-md", "label": "md" },
            { "value": "fs-lg", "label": "lg" },
            { "value": "fs-xl", "label": "xl" },
            { "value": "fs-xxl", "label": "xxl" }
          ]
        },
        {
          "type": "header",
          "content": "\"Add to cart\" button"
        },
        {
          "type": "select",
          "id": "atc_btn_color",
          "label": "Button color",
          "default": "btn-secondary",
          "options": [
            { "group": "Solid", "value": "btn-primary", "label": "Primary" },
            { "group": "Solid", "value": "btn-secondary", "label": "Secondary" },
            { "group": "Solid", "value": "btn-tertiary", "label": "Tertiary" },
            { "group": "Solid", "value": "btn-white", "label": "White" },
            { "group": "Light", "value": "btn-light-primary", "label": "Primary" },
            { "group": "Light", "value": "btn-light-secondary", "label": "Secondary" },
            { "group": "Light", "value": "btn-light-tertiary", "label": "Tertiary" },
            { "group": "Light", "value": "btn-light-white", "label": "White" },
            { "group": "Outline", "value": "btn-outline-primary", "label": "Primary" },
            { "group": "Outline", "value": "btn-outline-secondary", "label": "Secondary" },
            { "group": "Outline", "value": "btn-outline-tertiary", "label": "Tertiary" },
            { "group": "Outline", "value": "btn-outline-white", "label": "White" },
            { "group": "Alert", "value": "btn-success", "label": "Success" },
            { "group": "Alert", "value": "btn-warning", "label": "Warning" },
            { "group": "Alert", "value": "btn-danger", "label": "Danger" },
            { "group": "Alert", "value": "btn-info", "label": "Info" }
          ]
        },
        {
          "type": "select",
          "id": "atc_btn_size",
          "label": "Button size",
          "default": "",
          "options": [
            { "value": "btn-sm", "label": "Small" },
            { "value": "", "label": "Medium" },
            { "value": "btn-lg", "label": "Large" }
          ]
        },
        {
          "type": "header",
          "content": "Spacing"
        },
        {
          "type": "range",
          "id": "p",
          "label": "Padding",
          "min": 0,
          "max": 20,
          "step": 1,
          "default": 7
        }
      ]
    },
    {
      "type": "personalization_field",
      "name": "Personalization field",
      "settings": [
        {
          "type": "select",
          "id": "type",
          "label": "Type",
          "default": "text",
          "options": [
            { "value": "text", "label": "Text" },
            { "value": "textarea", "label": "Textarea" },
            { "value": "file", "label": "File Upload" },
            { "value": "date", "label": "Date" },
            { "value": "select", "label": "Select" },
            { "value": "checkbox", "label": "Checkbox" },
            { "value": "radio", "label": "Radio" }
          ]
        },
        {
          "type": "text",
          "id": "label",
          "label": "Label",
          "default": "Your Name"
        },
        {
          "type": "text",
          "id": "placeholder",
          "label": "Placeholder",
          "default": "E.g. John Doe"
        },
        {
          "type": "textarea",
          "id": "options",
          "label": "Options",
          "default": "United States, Canada, France",
          "info": "Comma separated list of options. Applies only if the type above is \"Select\", \"Checkbox\", or  \"Radio\""
        },
        {
          "type": "richtext",
          "id": "info_text",
          "label": "Info text",
          "info": "Small text to show below the field"
        },
        {
          "type": "checkbox",
          "id": "required",
          "label": "Required",
          "default": true,
          "info": "If enabled, the \"Add to cart\" button will be disabled unless this field is completed. Selectable fields like  \"Select\", \"Checkbox\", or \"Radio\" can't have a required check."
        },
        {
          "type": "checkbox",
          "id": "floating_field",
          "label": "Floating field",
          "default": true,
          "info": "Disable to have a normal form field. Does not apply to \"File\", \"Checkbox\", or \"Radio\""
        },
        {
          "type": "range",
          "id": "textarea_height",
          "label": "Textarea height",
          "info": "Applies only if the selected type above is \"Textarea\"",
          "default": 100,
          "min": 40,
          "max": 300,
          "step": 20,
          "unit": "px"
        },
        {
          "type": "header",
          "content": "Spacing"
        },
        {
          "type": "range",
          "id": "pt",
          "label": "Top",
          "min": 0,
          "max": 20,
          "step": 1,
          "default": 0
        },
        {
          "type": "range",
          "id": "pb",
          "label": "Bottom",
          "min": 0,
          "max": 20,
          "step": 1,
          "default": 5
        }
      ]
    },
    {
      "type": "prev_next",
      "name": "Prev/Next buttons",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "The settings apply only on mobile view because on the desktop the buttons are fixed on the sides"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Prev/Next products"
        },
        {
          "type": "header",
          "content": "Spacing"
        },
        {
          "type": "range",
          "id": "mt",
          "label": "Top",
          "min": 0,
          "max": 20,
          "step": 1,
          "default": 7
        },
        {
          "type": "range",
          "id": "mb",
          "label": "Bottom",
          "min": 0,
          "max": 20,
          "step": 1,
          "default": 0
        }
      ]
    },
    {
      "type": "@app"
    }
  ],
  "templates": ["product"],
  "presets": [
    {
      "name": "Product main"
    }
  ]
}
{% endschema %}
